# Dependency directories
node_modules/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Don’t generate a yarn.lock lockfile and fail if an update is needed.
# https://travis-ci.org/github/iraycd/migrado/jobs/726750758
*.lock